/*!
 * component v1.0.0
 * MIT Licensed
 */

.skill-to-s {
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-name: toSelectedSkill;
            animation-name: toSelectedSkill;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;    
}

.skill-to-h {
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-name: toHighlightedSkill;
            animation-name: toHighlightedSkill;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;    
}

.skill-to-v {
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-name: toVisibleSkill;
            animation-name: toVisibleSkill;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;    
}

.skill-to-i {
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-name: toInvisibleSkill;
            animation-name: toInvisibleSkill;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;    
}

@-webkit-keyframes toHighlightedSkill {
    to {
        color: black;
        font-size: 1.2em;
        padding: 10;
        border: 1px solid black;
        border-radius: 5px;
        margin: 2px;
    }
}

@keyframes toHighlightedSkill {
    to {
        color: black;
        font-size: 1.2em;
        padding: 10;
        border: 1px solid black;
        border-radius: 5px;
        margin: 2px;
    }
}


@-webkit-keyframes toSelectedSkill {
    to {
        color: red;
        font-size: 1.4em;
        padding: 10;
        border: 2px solid red;
        border-radius: 5px;
        margin: 2px;
    }
}


@keyframes toSelectedSkill {
    to {
        color: red;
        font-size: 1.4em;
        padding: 10;
        border: 2px solid red;
        border-radius: 5px;
        margin: 2px;
    }
}

@-webkit-keyframes toInvisibleSkill {
    to {
        color: grey;
        font-size: 0.8em;
        padding: 2;
        margin: 2px;
    }
}

@keyframes toInvisibleSkill {
    to {
        color: grey;
        font-size: 0.8em;
        padding: 2;
        margin: 2px;
    }
}

@-webkit-keyframes toVisibleSkill {
    to {
        color: black;
        font-size: 1.0em;
        padding: 5;
        border: 1px solid black;
        border-radius: 5px;
        margin: 2px;
    }
}

@keyframes toVisibleSkill {
    to {
        color: black;
        font-size: 1.0em;
        padding: 5;
        border: 1px solid black;
        border-radius: 5px;
        margin: 2px;
    }
}

.setting-to-s {
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-name: toSelectedSetting;
            animation-name: toSelectedSetting;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;    
}

.setting-to-h {
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-name: toHighlightedSetting;
            animation-name: toHighlightedSetting;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;    
}

.setting-to-v {
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-name: toVisibleSetting;
            animation-name: toVisibleSetting;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;    
}

.setting-to-i {
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-name: toInvisibleSetting;
            animation-name: toInvisibleSetting;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;    
}

@-webkit-keyframes toHighlightedSetting {
    to {
        padding: 10;
        opacity: 1.0
    }
}

@keyframes toHighlightedSetting {
    to {
        padding: 10;
        opacity: 1.0
    }
}


@-webkit-keyframes toSelectedSetting {
    to {
        padding: 10;
        opacity: 1.0
    }
}


@keyframes toSelectedSetting {
    to {
        padding: 10;
        opacity: 1.0
    }
}

@-webkit-keyframes toInvisibleSetting {
    to {
        padding: 10;
        opacity: 0.2
    }
}

@keyframes toInvisibleSetting {
    to {
        padding: 10;
        opacity: 0.2
    }
}

@-webkit-keyframes toVisibleSetting {
    to {
        padding: 10;
        opacity: 1.0
    }
}

@keyframes toVisibleSetting {
    to {
        padding: 10;
        opacity: 1.0
    }
}

