
.talk-icons {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    margin-right: 10;
    margin-left: 10;
    justify-content: space-between;
    
}

.talk-icon {
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}