
$button-radius: 3px;

@mixin tag-button($colour)
{
    border-radius: $button-radius;
    background: $colour;
    vertical-align: middle;
    text-align: center;   
}

@mixin selected-button()
{
    border-radius: $button-radius;
    background: darkblue;
    color: white;
    height: 50px; 
    vertical-align: middle;
}

.posts
{
    width: 79%;
    display: inline-block;
}

#tag-pane
{
    width: 20%;
    vertical-align: top;
    display: inline-block;
    
    p
    {
        margin: 5px 0px;
    }
    
    div.tag-selectors
    {
        p.tag-selector
        {
            text-align: center;   
            @include tag-button($tagColour);
        }

        p.selected
        {
            @include selected-button();
        }
    }    
}

div.tags
{
    height: 30px;
    margin-top: 10px;
}

p.filter-caption
{
    margin-top: auto;
    @include tag-button(yellow);
}

div.tag
{
    display: inline;
    padding: 5px;
    @include tag-button($tagColour);
    width: 50px;
}

p.clear-tags
{
    @include tag-button($post-green);
}


$base-font-size: 14px;
$multiplier: 3;

p.count-1 { font-size: $base-font-size + 1 * $multiplier; }
p.count-2 { font-size: $base-font-size + 2 * $multiplier; }
p.count-3 { font-size: $base-font-size + 3 * $multiplier; }
p.count-4 { font-size: $base-font-size + 4 * $multiplier; }
p.count-5 { font-size: $base-font-size + 5 * $multiplier; }
p.count-6 { font-size: $base-font-size + 6 * $multiplier; }