$button-radius: 3px;

@mixin tag-button($colour)
{
    border-radius: $button-radius;
    background: $colour;
    vertical-align: middle;
    padding-left: 10px;   
    padding-right: 10px;
}

@mixin selected-button()
{
    border-radius: $button-radius;
    background: darkblue;
    color: white;
    height: 50px; 
    vertical-align: middle;
}

.posts
{
    width: 79%;
    display: inline-block;
}

#tag-pane
{
    vertical-align: top;
    display: inline-block;
    width: 20%;
    p
    {
        margin: 5px 0px;
    }
    
    div.tag-selectors
    {
        display: block;
        @include tag-button(yellow);
        
        p.tag-selector
        {
            display: inline-block;
            margin: 2px;
            @include tag-button($tagColour);
        }

        p.selected
        {
            @include selected-button();
        }
    }    
    
    div.date-selectors
    {
        display: block;
        @include tag-button(yellow);
        
        p.date-selector
        {
            display: inline-block;
            margin: 2px;
            @include tag-button($tagColour);
        }

        p.selected
        {
            @include selected-button();
        }
    }    
}

div.tags
{
    height: 30px;
    margin-top: 10px;
}

p.filter-caption
{
    margin-top: auto;
    @include tag-button(yellow);
}

div.tag
{
    display: inline;
    padding: 5px;
    @include tag-button($tagColour);
    width: 50px;
}

p.clear-tags
{
    @include tag-button($post-green);
}

$tag-base-font-size: 14px;
$tag-multiplier: 3;

p.tag-count-1 { font-size: $tag-base-font-size + 1 * $tag-multiplier; }
p.tag-count-2 { font-size: $tag-base-font-size + 2 * $tag-multiplier; }
p.tag-count-3 { font-size: $tag-base-font-size + 3 * $tag-multiplier; }
p.tag-count-4 { font-size: $tag-base-font-size + 4 * $tag-multiplier; }
p.tag-count-5 { font-size: $tag-base-font-size + 5 * $tag-multiplier; }
p.tag-count-6 { font-size: $tag-base-font-size + 6 * $tag-multiplier; }

$date-base-font-size: $tag-base-font-size;
$date-multiplier: $tag-multiplier;
p.date-count-1 { font-size: $date-base-font-size + 1 * $date-multiplier; }
p.date-count-2 { font-size: $date-base-font-size + 2 * $date-multiplier; }
p.date-count-3 { font-size: $date-base-font-size + 3 * $date-multiplier; }
p.date-count-4 { font-size: $date-base-font-size + 4 * $date-multiplier; }
p.date-count-5 { font-size: $date-base-font-size + 5 * $date-multiplier; }
p.date-count-6 { font-size: $date-base-font-size + 6 * $date-multiplier; }